$images-path: '../img/';

$montserrat-family: 'Montserrat', sans-serif;

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/hinted-Geomanist-Black.eot');
  src: url('../fonts/hinted-Geomanist-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-Geomanist-Black.woff2') format('woff2'),
  url('../fonts/hinted-Geomanist-Black.woff') format('woff'),
  url('../fonts/hinted-Geomanist-Black.ttf') format('truetype'),
  url('../fonts/hinted-Geomanist-Black.svg#Geomanist-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist Book';
  src: url('../fonts/hinted-Geomanist-Book.eot');
  src: url('../fonts/hinted-Geomanist-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-Geomanist-Book.woff2') format('woff2'),
  url('../fonts/hinted-Geomanist-Book.woff') format('woff'),
  url('../fonts/hinted-Geomanist-Book.ttf') format('truetype'),
  url('../fonts/hinted-Geomanist-Book.svg#Geomanist-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist Ultra';
  src: url('../fonts/hinted-Geomanist-Ultra.eot');
  src: url('../fonts/hinted-Geomanist-Ultra.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-Geomanist-Ultra.woff2') format('woff2'),
  url('../fonts/hinted-Geomanist-Ultra.woff') format('woff'),
  url('../fonts/hinted-Geomanist-Ultra.ttf') format('truetype'),
  url('../fonts/hinted-Geomanist-Ultra.svg#Geomanist-Ultra') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/hinted-Geomanist-Thin.eot');
  src: url('../fonts/hinted-Geomanist-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-Geomanist-Thin.woff2') format('woff2'),
  url('../fonts/hinted-Geomanist-Thin.woff') format('woff'),
  url('../fonts/hinted-Geomanist-Thin.ttf') format('truetype'),
  url('../fonts/hinted-Geomanist-Thin.svg#Geomanist-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/hinted-Geomanist-Light.eot');
  src: url('../fonts/hinted-Geomanist-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-Geomanist-Light.woff2') format('woff2'),
  url('../fonts/hinted-Geomanist-Light.woff') format('woff'),
  url('../fonts/hinted-Geomanist-Light.ttf') format('truetype'),
  url('../fonts/hinted-Geomanist-Light.svg#Geomanist-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/hinted-Geomanist-Regular.eot');
  src: url('../fonts/hinted-Geomanist-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-Geomanist-Regular.woff2') format('woff2'),
  url('../fonts/hinted-Geomanist-Regular.woff') format('woff'),
  url('../fonts/hinted-Geomanist-Regular.ttf') format('truetype'),
  url('../fonts/hinted-Geomanist-Regular.svg#Geomanist-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/hinted-Geomanist-ExtraLight.eot');
  src: url('../fonts/hinted-Geomanist-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-Geomanist-ExtraLight.woff2') format('woff2'),
  url('../fonts/hinted-Geomanist-ExtraLight.woff') format('woff'),
  url('../fonts/hinted-Geomanist-ExtraLight.ttf') format('truetype'),
  url('../fonts/hinted-Geomanist-ExtraLight.svg#Geomanist-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/hinted-Geomanist-Medium.eot');
  src: url('../fonts/hinted-Geomanist-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-Geomanist-Medium.woff2') format('woff2'),
  url('../fonts/hinted-Geomanist-Medium.woff') format('woff'),
  url('../fonts/hinted-Geomanist-Medium.ttf') format('truetype'),
  url('../fonts/hinted-Geomanist-Medium.svg#Geomanist-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/hinted-Geomanist-Bold.eot');
  src: url('../fonts/hinted-Geomanist-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/hinted-Geomanist-Bold.woff2') format('woff2'),
  url('../fonts/hinted-Geomanist-Bold.woff') format('woff'),
  url('../fonts/hinted-Geomanist-Bold.ttf') format('truetype'),
  url('../fonts/hinted-Geomanist-Bold.svg#Geomanist-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}