@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic");
@font-face {
  font-family: 'Geomanist';
  src: url("../fonts/hinted-Geomanist-Black.eot");
  src: url("../fonts/hinted-Geomanist-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Geomanist-Black.woff2") format("woff2"), url("../fonts/hinted-Geomanist-Black.woff") format("woff"), url("../fonts/hinted-Geomanist-Black.ttf") format("truetype"), url("../fonts/hinted-Geomanist-Black.svg#Geomanist-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Geomanist Book';
  src: url("../fonts/hinted-Geomanist-Book.eot");
  src: url("../fonts/hinted-Geomanist-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Geomanist-Book.woff2") format("woff2"), url("../fonts/hinted-Geomanist-Book.woff") format("woff"), url("../fonts/hinted-Geomanist-Book.ttf") format("truetype"), url("../fonts/hinted-Geomanist-Book.svg#Geomanist-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geomanist Ultra';
  src: url("../fonts/hinted-Geomanist-Ultra.eot");
  src: url("../fonts/hinted-Geomanist-Ultra.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Geomanist-Ultra.woff2") format("woff2"), url("../fonts/hinted-Geomanist-Ultra.woff") format("woff"), url("../fonts/hinted-Geomanist-Ultra.ttf") format("truetype"), url("../fonts/hinted-Geomanist-Ultra.svg#Geomanist-Ultra") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geomanist';
  src: url("../fonts/hinted-Geomanist-Thin.eot");
  src: url("../fonts/hinted-Geomanist-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Geomanist-Thin.woff2") format("woff2"), url("../fonts/hinted-Geomanist-Thin.woff") format("woff"), url("../fonts/hinted-Geomanist-Thin.ttf") format("truetype"), url("../fonts/hinted-Geomanist-Thin.svg#Geomanist-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Geomanist';
  src: url("../fonts/hinted-Geomanist-Light.eot");
  src: url("../fonts/hinted-Geomanist-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Geomanist-Light.woff2") format("woff2"), url("../fonts/hinted-Geomanist-Light.woff") format("woff"), url("../fonts/hinted-Geomanist-Light.ttf") format("truetype"), url("../fonts/hinted-Geomanist-Light.svg#Geomanist-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Geomanist';
  src: url("../fonts/hinted-Geomanist-Regular.eot");
  src: url("../fonts/hinted-Geomanist-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Geomanist-Regular.woff2") format("woff2"), url("../fonts/hinted-Geomanist-Regular.woff") format("woff"), url("../fonts/hinted-Geomanist-Regular.ttf") format("truetype"), url("../fonts/hinted-Geomanist-Regular.svg#Geomanist-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Geomanist';
  src: url("../fonts/hinted-Geomanist-ExtraLight.eot");
  src: url("../fonts/hinted-Geomanist-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Geomanist-ExtraLight.woff2") format("woff2"), url("../fonts/hinted-Geomanist-ExtraLight.woff") format("woff"), url("../fonts/hinted-Geomanist-ExtraLight.ttf") format("truetype"), url("../fonts/hinted-Geomanist-ExtraLight.svg#Geomanist-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Geomanist';
  src: url("../fonts/hinted-Geomanist-Medium.eot");
  src: url("../fonts/hinted-Geomanist-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Geomanist-Medium.woff2") format("woff2"), url("../fonts/hinted-Geomanist-Medium.woff") format("woff"), url("../fonts/hinted-Geomanist-Medium.ttf") format("truetype"), url("../fonts/hinted-Geomanist-Medium.svg#Geomanist-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Geomanist';
  src: url("../fonts/hinted-Geomanist-Bold.eot");
  src: url("../fonts/hinted-Geomanist-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/hinted-Geomanist-Bold.woff2") format("woff2"), url("../fonts/hinted-Geomanist-Bold.woff") format("woff"), url("../fonts/hinted-Geomanist-Bold.ttf") format("truetype"), url("../fonts/hinted-Geomanist-Bold.svg#Geomanist-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

.b-main-wr {
  position: relative; }
  .b-main-wr .b-featured-wr {
    width: 100%;
    position: relative;
    padding-top: 100px; }
    .b-main-wr .b-featured-wr .e-featured-bg {
      position: absolute;
      height: 1000px;
      top: 0;
      left: 0;
      right: 0;
      background: url("../img/balls-bg.png") no-repeat center;
      background-size: cover;
      z-index: -1; }
    .b-main-wr .b-featured-wr .e-featured-title {
      display: block;
      margin: 0 auto 40px;
      width: 450px;
      color: #50586e;
      font-family: Geomanist,sans-serif;
      font-size: 65px;
      font-weight: 700;
      line-height: 66px; }
    .b-main-wr .b-featured-wr .arrow-left {
      position: absolute;
      top: 50%;
      left: 0;
      height: 50px;
      width: 50px;
      background-color: #ccc;
      z-index: 99; }
    .b-main-wr .b-featured-wr .arrow-right {
      position: absolute;
      top: 50%;
      right: 0;
      height: 50px;
      width: 50px;
      background-color: #ccc;
      z-index: 99; }
    .b-main-wr .b-featured-wr .b-featured-slider {
      max-width: 1200px;
      margin: 0 auto;
      display: -webkit-box;
      display: flex;
      height: 450px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-flow: nowrap row;
      position: relative;
      -webkit-box-align: center;
              align-items: center;
      justify-content: space-around; }
      .b-main-wr .b-featured-wr .b-featured-slider .e-slide-wr {
        display: block;
        height: 440px;
        width: 330px;
        margin: 0 20px;
        background-color: rgba(253, 250, 250, 0.45);
        border-radius: 15px;
        box-shadow: 0 7px 24px rgba(48, 34, 0, 0.18); }
        .b-main-wr .b-featured-wr .b-featured-slider .e-slide-wr .e-title-block {
          width: 208px;
          height: 97px;
          border-radius: 48px;
          box-shadow: 0 2px 2px rgba(39, 31, 0, 0.15);
          margin: -50px auto 0; }
        .b-main-wr .b-featured-wr .b-featured-slider .e-slide-wr .mr-green {
          background: url("../img/logo-mrgreen.png") center no-repeat; }
        .b-main-wr .b-featured-wr .b-featured-slider .e-slide-wr .expekt {
          background: url("../img/logo-expekt.png") center no-repeat; }
        .b-main-wr .b-featured-wr .b-featured-slider .e-slide-wr .consumo {
          background: url("../img/logo-casumo.png") center no-repeat; }
  .b-main-wr .e-main-bg {
    position: absolute;
    height: 3424px;
    top: 0;
    left: 0;
    right: 0;
    background: url("../img/main-wr-bg.png") no-repeat center;
    background-size: cover;
    z-index: -1; }

body {
  width: 100%;
  background: #ffffff; }

.b-header-wr .e-head-menu-wr {
  width: 100%;
  position: fixed;
  height: 83px;
  background-color: #ffffff;
  z-index: 99; }
  .b-header-wr .e-head-menu-wr .b-head-menu {
    max-width: 1000px;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    position: fixed;
    left: 50%;
    margin-left: -500px;
    height: 83px;
    -webkit-box-align: center;
            align-items: center; }
    .b-header-wr .e-head-menu-wr .b-head-menu .e-logo {
      color: #50586e;
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 2px;
      max-width: 155px;
      align-self: center;
      vertical-align: middle;
      margin: 0 10px; }
    .b-header-wr .e-head-menu-wr .b-head-menu .e-header-nav {
      color: #50586e;
      font-family: Geomanist, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-flow: row nowrap;
      height: 100%;
      align-self: center; }
      .b-header-wr .e-head-menu-wr .b-head-menu .e-header-nav a {
        padding: 0 40px;
        color: #50586e;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        line-height: 83px; }
        .b-header-wr .e-head-menu-wr .b-head-menu .e-header-nav a:hover {
          background-color: #138181; }

.b-header-wr .b-header-animation-bg {
  opacity: 0.87;
  background-color: #fde992;
  height: 830px;
  display: block; }
  .b-header-wr .b-header-animation-bg .e-header-animation-wr {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 830px;
    width: 1000px; }
    .b-header-wr .b-header-animation-bg .e-header-animation-wr .e-anim-head {
      color: #50586e;
      font-family: Geomanist, sans-serif;
      font-size: 80px;
      font-weight: 700;
      line-height: 79px;
      display: block;
      margin: 170px 0 0 10px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 430px;
      height: 240px;
      letter-spacing: 3px; }
    .b-header-wr .b-header-animation-bg .e-header-animation-wr .e-anim-info {
      color: #5b6275;
      font-family: Geomanist, sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      position: absolute;
      top: 440px;
      left: 255px;
      width: 335px;
      height: 80px;
      letter-spacing: 1px; }
    .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation {
      background-color: white;
      border-radius: 11px;
      box-shadow: 0 12px 70px rgba(79, 61, 0, 0.83);
      position: absolute;
      top: 135px;
      left: 200px;
      right: 10px;
      height: 565px;
      width: 800px;
      margin: 0 auto; }
      .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .e-card-bg {
        background: url("../img/stars-animation.png");
        background-position: right bottom;
        background-size: 462px 432px;
        position: absolute;
        display: block;
        width: 462px;
        height: 432px;
        right: 0;
        bottom: 0; }
      .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .e-bingo-bg {
        background: url("../img/bingo.png");
        background-position: right top;
        background-size: 281px 283px;
        position: absolute;
        display: block;
        width: 220px;
        height: 130px;
        left: 0;
        bottom: 0;
        border-radius: 11px; }
      .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .e-film-bg {
        background: url("../img/film.png");
        background-position: left bottom;
        background-size: 268px 231px;
        position: absolute;
        display: block;
        width: 128px;
        height: 160px;
        top: 0;
        right: 0;
        border-radius: 11px; }
      .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .b-anim-steps {
        width: 330px;
        height: 155px;
        position: absolute;
        left: 310px;
        top: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: center;
                justify-content: center; }
        .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .b-anim-steps .border-lg {
          font-size: 83px;
          font-weight: 700;
          line-height: 47px;
          color: #fbac20; }
        .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .b-anim-steps .border-lg:before {
          opacity: 0.62;
          border: 7px solid #f7f6f6;
          position: absolute;
          display: block;
          height: 113px;
          width: 113px;
          top: -28px;
          left: -41px;
          content: '';
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          box-sizing: border-box; }
        .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .b-anim-steps .border-md {
          font-size: 69px;
          font-weight: 700;
          line-height: 40px;
          color: #fee2b1; }
        .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .b-anim-steps .border-md:before {
          opacity: 0.62;
          border: 7px solid #fcfcfc;
          position: absolute;
          display: block;
          height: 93px;
          width: 93px;
          top: -22px;
          left: -28px;
          content: '';
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          box-sizing: border-box; }
        .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .b-anim-steps .border-sm {
          font-size: 55px;
          font-weight: 700;
          line-height: 32px;
          color: #feedd0; }
        .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .b-anim-steps .border-sm:before {
          opacity: 0.62;
          border: 7px solid #fcfcfc;
          position: absolute;
          display: block;
          height: 74px;
          width: 74px;
          top: -16px;
          left: -22px;
          content: '';
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          box-sizing: border-box; }
        .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .b-anim-steps .e-anim-step {
          font-family: Geomanist, sans-serif;
          margin: 0 25px;
          position: relative; }
          .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .b-anim-steps .e-anim-step .m-step {
            font-size: 38px;
            font-weight: 900;
            line-height: 47px;
            text-transform: uppercase;
            position: absolute;
            left: -30px;
            margin-top: 14px;
            letter-spacing: 2px; }
        .b-header-wr .b-header-animation-bg .e-header-animation-wr .b-header-animation .b-anim-steps .hidden {
          display: none; }

@media (max-width: 1020px) {
  .b-header-wr .e-head-menu-wr .b-head-menu {
    left: 0;
    margin-left: 0; } }

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
/* RESET.CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }
