.b-header-wr {

  .e-head-menu-wr {
    width: 100%;
    position: fixed;
    height: 83px;
    background-color: #ffffff;
    z-index: 99;

    .b-head-menu {
      max-width: 1000px;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      position: fixed;
      left: 50%;
      margin-left: -500px;
      height: 83px;
      align-items: center;


      .e-logo {
        color: #50586e;
        font-family: $montserrat-family;
        font-size: 24px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 2px;
        max-width: 155px;
        align-self: center;
        vertical-align: middle;
        margin: 0 10px;
      }

      .e-header-nav {
        color: #50586e;
        font-family: Geomanist, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        align-self: center;

        a {
          padding: 0 40px;
          color: #50586e;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 2px;
          line-height: 83px;

          &:hover {
            background-color: #138181;
          }
        }
      }
    }
  }

  .b-header-animation-bg {
    opacity: 0.87;
    background-color: #fde992;
    height: 830px;
    display: block;

    .e-header-animation-wr{
      position: relative;
      display: block;
      margin: 0 auto;
      height: 830px;
      width: 1000px;

      .e-anim-head {
        color: #50586e;
        font-family: Geomanist, sans-serif;
        font-size: 80px;
        font-weight: 700;
        line-height: 79px;
        display: block;
        margin: 170px 0 0 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 430px;
        height: 240px;
        letter-spacing: 3px;
      }

      .e-anim-info {
        color: #5b6275;
        font-family: Geomanist, sans-serif;;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        position: absolute;
        top: 440px;
        left: 255px;
        width: 335px;
        height: 80px;
        letter-spacing: 1px;

      }

      .b-header-animation {
        background-color: white;
        border-radius: 11px;
        box-shadow: 0 12px 70px rgba(79, 61, 0, 0.83);
        position: absolute;
        top: 135px;
        left: 200px;
        right: 10px;
        height: 565px;
        width: 800px;
        margin: 0 auto;

        .e-card-bg {
          background: url($images-path + "stars-animation.png");
          background-position: right bottom;
          background-size: 462px 432px;
          position: absolute;
          display: block;
          width: 462px;
          height: 432px;
          right: 0;
          bottom: 0;
        }

        .e-bingo-bg {
          background: url($images-path + "bingo.png");
          background-position: right top;
          background-size: 281px 283px;
          position: absolute;
          display: block;
          width: 220px;
          height: 130px;
          left: 0;
          bottom: 0;
          border-radius: 11px;
        }

        .e-film-bg {
          background: url($images-path + "film.png");
          background-position: left bottom;
          background-size: 268px 231px;
          position: absolute;
          display: block;
          width: 128px;
          height: 160px;
          top: 0;
          right: 0;
          border-radius: 11px;
        }

        .b-anim-steps {
          width: 330px;
          height: 155px;
          position: absolute;
          left: 310px;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          .border-lg {
            font-size: 83px;
            font-weight: 700;
            line-height: 47px;
            color: #fbac20;
          }

          .border-lg:before {
            opacity: 0.62;
            border: 7px solid #f7f6f6;
            position: absolute;
            display: block;
            height: 113px;
            width: 113px;
            top: -28px;
            left: -41px;
            content: '';
            transform: rotate(45deg);
            box-sizing: border-box;
          }

          .border-md {
            font-size: 69px;
            font-weight: 700;
            line-height: 40px;
            color: #fee2b1;
          }

          .border-md:before {
            opacity: 0.62;
            border: 7px solid #fcfcfc;
            position: absolute;
            display: block;
            height: 93px;
            width: 93px;
            top: -22px;
            left: -28px;
            content: '';
            transform: rotate(45deg);
            box-sizing: border-box;
          }

          .border-sm {
            font-size: 55px;
            font-weight: 700;
            line-height: 32px;
            color: #feedd0;
          }

          .border-sm:before {
            opacity: 0.62;
            border: 7px solid #fcfcfc;
            position: absolute;
            display: block;
            height: 74px;
            width: 74px;
            top: -16px;
            left: -22px;
            content: '';
            transform: rotate(45deg);
            box-sizing: border-box;
          }

          .e-anim-step {
            font-family: Geomanist, sans-serif;
            margin: 0 25px;
            position: relative;

            .m-step {
              font-size: 38px;
              font-weight: 900;
              line-height: 47px;
              text-transform: uppercase;
              position: absolute;
              left: -30px;
              margin-top: 14px;
              letter-spacing: 2px;
            }
          }

          .hidden {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1020px) {
  .b-header-wr{
    .e-head-menu-wr {
      .b-head-menu {
        left: 0;
        margin-left: 0;
      }
    }
  }
}