.b-main-wr {
  position: relative;


  .b-featured-wr{
    width: 100%;
    position: relative;
    padding-top: 100px;



    .e-featured-bg{
      position: absolute;
      height: 1000px;
      top: 0;
      left: 0;
      right: 0;
      background: url($images-path + "balls-bg.png") no-repeat center;
      background-size: cover;
      z-index: -1;
    }

    .e-featured-title {
      display: block;
      margin: 0 auto 40px;
      width: 450px;
      color: #50586e;
      font-family: Geomanist,sans-serif;
      font-size: 65px;
      font-weight: 700;
      line-height: 66px;
    }

    .arrow-left {
      position: absolute;
      top: 50%;
      left: 0;
      height: 50px;
      width: 50px;
      background-color: #ccc;
      z-index: 99;
    }

    .arrow-right {
      position: absolute;
      top: 50%;
      right: 0;
      height: 50px;
      width: 50px;
      background-color: #ccc;
      z-index: 99;
    }

    .b-featured-slider {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      height: 450px;
      flex-flow: nowrap row;
      position: relative;
      align-items: center;
      justify-content: space-around;

      .e-slide-wr {
        display: block;
        height: 440px;
        width: 330px;
        margin: 0 20px;
        background-color: rgba(253, 250, 250, 0.45);
        border-radius: 15px;
        box-shadow: 0 7px 24px rgba(48, 34, 0, 0.18);

        .e-title-block {
          width: 208px;
          height: 97px;
          border-radius: 48px;
          box-shadow: 0 2px 2px rgba(39, 31, 0, 0.15);
          margin: -50px auto 0;
        }

        .mr-green {
          background: url($images-path + "logo-mrgreen.png") center no-repeat;
        }

        .expekt {
          background: url($images-path + "logo-expekt.png") center no-repeat;
        }

        .consumo {
          background: url($images-path + "logo-casumo.png") center no-repeat;
        }
      }
    }
  }

  .e-main-bg {  //дичь - исправить
    position: absolute;
    height: 3424px;
    top: 0;
    left: 0;
    right: 0;
    background: url($images-path + "main-wr-bg.png") no-repeat center;
    background-size: cover;
    z-index: -1;
  }
}